---
---

<div>
  <p>
    Here are a few reasons why you will love this template:
  </p>
  <ul>
    <li>
      <strong>Minimal.</strong>
      A lightweight <a class="animated" href="https://astro.build" target="_blank">Astro</a> theme that looks great.
    </li>
    <li>
      <strong>Lean.</strong>
      No external fonts or icons. Zero JavaScript. Zero Runtime.
    </li>
    <li>
      <strong>Fast.</strong>
      Fast by default. Blogster templates are engineered to be performant 
      and load before you could blink, even when not cached.
    </li>
    <li>
      <strong>Dark mode.</strong> Automatic light/dark mode based on user's preferred color scheme.
    </li>
    <li>
      <strong>Mobile first.</strong> Responsive and loads fast in all devices.
    </li>
    <li>
      <strong>Accessible.</strong> A well thought out semantic and accessible content.
    </li>
    <li>
      <strong>Perfect lighthouse score.</strong> 100 across the board.
    </li>
    <li>
      <strong>Content authoring for everyone.</strong> Author content using markdown
      (<code>.md</code>) from your code editor or directly in GitHub.
    </li>
    <li>
      <span
        ><strong>Extended markdown</strong> with <a
          class="animated"
          href="https://markdoc.dev">Markdoc</a
        >.
      </span>
      <span>
        Type-safe custom components like YouTube embed, Twitter embed (or
        anything you want really) in your markdown (<code>.md</code>) files.</span
      >
    </li>
    <li>
      Built in <strong>RSS feed</strong> for you blog, excellent<strong>
        SEO</strong
      > and more.
    </li>
  </ul>
</div>
