---
---

<footer>
  <div>
    Built with
    <a class="animated" href={"https://astro.build"}> Astro</a>
    and <a class="animated" href={"https://markdoc.dev"}>Markdoc</a>. Served at blazing speeds by
    <a class="animated" href={"https://www.netlify.com"}> Netlify</a>.
  </div>
</footer>

<style>
  footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
  }
</style>
