---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const path = Astro.url.pathname.replace(/\/$/, "");

// to not include home /
const isActive =
  typeof href === "string" && href.length > 1
    ? path.substring(1).startsWith(href.substring(1))
    : false;
---

<a
  href={href}
  class:list={[
    className,
    { active: isActive },
    "header-link",
    "animated",
    "gradient-colors",
  ]}
  {...props}
>
  <slot />
</a>
<style>
  a.gradient-colors {
    --animated-underline-from: var(--text-heading);
    --animated-underline-to: var(--text-heading);
  }

  .header-link {
    text-decoration: none;
    color: var(--text-heading);
    border-bottom: none;
  }

  .header-link.active {
    font-weight: bolder;
  }
</style>
