---
type Props = {
  url: string;
};

const { url } = Astro.props;
---

<p>
  <div class="twitter-embed-wrapper">
    <blockquote
      class="twitter-tweet"
      data-conversation="none"
      data-theme="light"
      data-lang="en"
      data-dnt="true"
    >
      <a class="unset" href={url}>Loading tweet...</a>
    </blockquote>
  </div>

  <script
    async
    defer
    src="https://platform.twitter.com/widgets.js"
    charset="utf-8"
  ></script>
</p>
<style>
  .twitter-embed-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
