/* Styles for content rendered from Markdown */
/* ------ MARKDOWN STYLES - START ------ */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--text-heading);
}

h1 {
	margin-top: 0;
	margin-bottom: 0.8333333em;
	font-size: 2.5em;
	line-height: 1.2 !important;
}

h2 {
	font-size: 1.6666667em;
	margin-top: 1.8666667em;
	margin-bottom: 1.0666667em;
	line-height: 1.3333333;
}

h3 {
	font-size: 1.3333333em;
	margin-top: 1.6666667em;
	margin-bottom: 0.6666667em;
	line-height: 1.5;
}

h4,
h5,
h6 {
	margin-top: 1.7777778em;
	margin-bottom: 0.4444444em;
	line-height: 1.5555556;
}

h1+*,
h2+*,
h3+*,
h4+*,
h5+*,
h6+* {
	margin-top: 0;
}

/* ------ MARKDOWN STYLES - END ------ */