---
type Props = {
  url: string;
  title: string;
  data_user: string
  data_slug_hash: string
};

const { url, title, data_user, data_slug_hash } = Astro.props;
---

<p
  class="codepen"
  data-height="300"
  data-default-tab="html,result"
  data-slug-hash={data_slug_hash}
  data-user={data_user}
  style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
>
  <span><a href={url}>{title}</a></span>
</p>
<script async defer src="https://cpwebassets.codepen.io/assets/embed/ei.js"
></script>
