/*
  Inspired from two sources + my own customisations over it.
  1. Bear Blog's default CSS. https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  2. https://www.swyx.io/css-100-bytes
 */

/* theming for light/dark modes */
:root {
	--palette-primary: #4f46e5;
	--palette-secondary: #38bdf8;

	--text: #1e293b;
	--text-muted: #64748b;
	--text-heading: #0f172a;
	--text-link: #667eea;

	--code-background: #f6f7f9;
	--code-text: #47546b;
	--code-border: #e2e8f0;

	--selection-text: #ffffff;
	--selection-background: #191919;

	--border: #e2e8f0;
	--background: #fff
}

@media (prefers-color-scheme: dark) {
	:root {
		--palette-primary: #20bdff;
		--palette-secondary: #4f46e5;

		--text: #d2d3d7;
		--text: #d4d4d8;
		--text-muted: #d2d3d7;
		--text-heading: #fafafa;
		--text-link: #20bdff;

		--code-text: #cbd5e0;
		--code-background: #1f2631;
		--code-border: #2d3748;

		--selection-text: #191919;
		--selection-background: #ffffff;

		--border: #2d3748;
		--background: #18181b;
	}

	html {
		color-scheme: dark;
	}
}

html {
	font-size: 16px;
}

body {
	/* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
	color: var(--text);
	background: var(--background);
	/* font-family: system-ui, sans-serif; */
	font-family: Verdana, sans-serif;
	padding: 0 2rem;
	margin: auto;
	max-width: 70ch;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.8;
	font-size: 1rem;
}

strong,
b {
	color: var(--text-heading);
}

a {
	color: var(--text-link);
	text-decoration: none;
	border-bottom: 1px solid #ccc;
}

nav a {
	margin-right: 10px;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

content {
	line-height: 1.6;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

code {
	padding: 2px 5px;
	color: var(--code-text);
	background-color: var(--code-background);
	border: 1px solid var(--code-border);
	border-radius: 4px;
}

pre {
	padding: 1rem;
}

pre>code {
	all: unset;
}

blockquote {
	font-style: italic;
	color: var(--text-muted);
	border-left: 0.25rem solid var(--border);
	quotes: "\201C" "\201D" "\2018" "\2019";
	margin: 1.6em 0px;
	padding-left: 1em;
}


::selection {
	color: var(--selection-text);
	background-color: var(--selection-background);
}