---
---

<footer class="text-sm">
  <div>
    Built with
    <a
      class="animated-underline tracking-wider font-semibold bg-clip-text text-transparent bg-gradient-to-r from-[#7928ca] to-[#ff0080] hover:after:bg-gradient-to-r hover:after:from-[#7928ca] hover:after:to-[#ff0080]"
      href={"https://astro.build"}
    >
      Astro</a
    >
    and <a
      class="animated-underline tracking-wider font-semibold bg-clip-text text-transparent bg-gradient-to-r from-amber-500 to-orange-600 hover:after:bg-gradient-to-r hover:after:from-amber-500 hover:after:to-orange-600"
      href={"https://markdoc.dev"}>Markdoc</a
    >. Served at blazing speeds by
    <a
      class="animated-underline tracking-wider font-semibold bg-clip-text text-transparent bg-gradient-to-r from-[#00abda] to-[#1476ff] hover:after:bg-gradient-to-r hover:after:from-[#00abda] hover:after:to-[#1476ff]"
      href={"https://www.netlify.com"}
    >
      Netlify</a
    >.
  </div>
</footer>

<style>
  footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
