---
import HeaderLink from "./HeaderLink.astro";
import DarkModeToggle from "./DarkModeToggle.astro";
---

<header>
  <a class="unset absolute left-[50%] translate-x-[-50%] translate-y-[-200%] bg-white text-black px-2 py-1 transition-transform focus:translate-y-[0%]" href="#main">
    Skip to content
  </a>
  <nav>
    <section class="text-text-bold">
      <ul class="unset flex gap-4 [&>li]:p-0">
        <li><HeaderLink href="/">Home</HeaderLink></li>
        <li><HeaderLink href="/blog">Blog</HeaderLink></li>
        <li><HeaderLink href="/projects">Projects</HeaderLink></li>
      </ul>
    </section>
  </nav>
  <div
    class="justify-self-end py-2 flex items-center content-center text-text-bold"
  >
    <a
      class="unset text-2xl ml-4 hover:text-text-link"
      href="https://github.com/flexdinesh/blogster"
      aria-label="Blogster on GitHub"
    >
      <i class="fa-brands fa-github"></i>
    </a>
    <a
      class="unset text-2xl ml-4 hover:text-text-link"
      href="https://twitter.com/flexdinesh"
      aria-label="Dinesh on Twitter"
    >
      <i class="fa-brands fa-twitter"></i>
    </a>
    <DarkModeToggle />
  </div>
</header>
<style>
  header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, max-content) minmax(0, max-content);
  }
</style>
