---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-6 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Captain Awesome
      </span>
    </h1>
    <div
      class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-1"
    >
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://github.com/flexdinesh/blogster"
      >
        <i class="fa-brands fa-github" aria-hidden="true" title="Blogster on GitHub"></i>
        <span>GitHub</span>
      </a>
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://twitter.com/flexdinesh"
        aria-label="Dinesh on Twitter"
      >
        <i class="fa-brands fa-twitter" aria-hidden="true" title="Dinesh on Twitter"></i>
        <span>Twitter</span>
      </a>
    </div>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p class="mb-8">
      Hello! This is a starter template to build your own blog with
      <a href={"https://github.com/flexdinesh/blogster"} target="_blank"
        >Blogster</a
      >. Available in four themes
      <a href={"https://blogster-minimal.netlify.app"} target="_blank"
        >minimal</a
      >,
      <a href={"https://blogster-sleek.netlify.app"} target="_blank">sleek</a>,
      <a href={"https://blogster-newspaper.netlify.app"} target="_blank"
        >newspaper</a
      > and
      <a href={"https://blogster-bubblegum.netlify.app"} target="_blank"
        >bubblegum</a
      >. This blog is a demo for <strong>newspaper</strong> theme. Get started with
      one simple command.
    </p>
    <p class="text-center whitespace-nowrap overflow-auto">
      <code class="py-1 px-2">npx create-blogster@latest --theme newspaper</code
      >
    </p>
  </div>
</section>
