---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  content: {
    title: string;
    date?: string;
    heroImage?: string;
  };
}

const {
  content: { title, date, heroImage },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead />
    <slot name="head"/>
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
        <h1 class="title">{title}</h1>
        {date && <time>{date}</time>}
        <!-- {updatedDate && (
					<div>
						Last updated on <time>{updatedDate}</time>
					</div>
				)} -->
        <hr />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
