---
/*
  This layout is used in pages/blog/[slug].astro
*/

import BaseLayout from "./BaseLayout.astro";

export interface Props {
  title: string;
  date: Date;
}

const { title, date } = Astro.props;
const formattedDate = new Date(date).toLocaleDateString("en-us", {
  year: "numeric",
  month: "short",
  day: "numeric",
});
---

<BaseLayout>
  <!-- head slot is drilled from pages to BaseLayout -->
  <slot slot="head" name="head" />
  <article class="blog-post" slot="main">
    <h1 class="title">{title}</h1>
    <time class="publish-date">{formattedDate}</time>
    <slot name="content" />
  </article>
</BaseLayout>

<style>
  .title {
    font-size: 2.5em;
    line-height: 1.2 !important;
    margin: 0.25em 0 0;
  }
  .publish-date {
    font-size: 0.875em;
    color: var(--text-muted);
    margin-bottom: 2rem;
    display: block;
  }
  hr {
    border-top: 1px solid #ddd;
    margin: 1rem 0;
  }
</style>

<!-- Global styles for content rendered from markdown -->
<style is:global>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--text-heading);
  }
  h1 {
    margin-top: 0;
    margin-bottom: 0.8333333em;
    font-size: 2.5em;
    line-height: 1.2 !important;
  }

  h2 {
    font-size: 1.6666667em;
    margin-top: 1.8666667em;
    margin-bottom: 1.0666667em;
    line-height: 1.3333333;
  }

  h3 {
    font-size: 1.3333333em;
    margin-top: 1.6666667em;
    margin-bottom: 0.6666667em;
    line-height: 1.5;
  }

  h4,
  h5,
  h6 {
    margin-top: 1.7777778em;
    margin-bottom: 0.4444444em;
    line-height: 1.5555556;
  }

  h1 + *,
  h2 + *,
  h3 + *,
  h4 + *,
  h5 + *,
  h6 + * {
    margin-top: 0;
  }
</style>
