:root {
    --color-bg-selection: 180 244 224;
    /* #b4f4e0 */
    --color-text-selection: 49 33 94;
    /* #31215e */
}

/* light theme */
.theme-newspaper {
    /* tailwind slate 50-900? */
    --color-primary-50: 248 250 252;
    --color-primary-100: 241 245 249;
    --color-primary-200: 226 232 240;
    --color-primary-300: 203 213 225;
    --color-primary-400: 148 163 184;
    --color-primary-500: 100 116 139;
    --color-primary-600: 71 85 105;
    --color-primary-700: 51 65 85;
    --color-primary-800: 30 41 59;
    --color-primary-900: 15 23 42;
    /* primary-900 */
    --color-primary-main: 15 23 42;

    /* primary-900 */
    --color-text-body: 15 23 42;
    /* primary-900 */
    --color-text-heading: 15 23 42;
    /* primary-900 */
    --color-text-bold: 15 23 42;
    /* primary-500 */
    --color-text-muted: 100 116 139;
    /* #339af0 */
    --color-text-link: 51 154 240;
    /* black */
    --color-text-code: 0 0 0;
    /* black */
    --color-text-selection: 0 0 0;

    /* white */
    --color-bg-body: 255 255 255;
    /* Both these code bg are good. Pick your favourite. */
    /* #fef3c7 */
    --color-bg-code: 254 243 199;
    /* primary-100 */
    /* --color-bg-code: 241 245 249; */
    /* primary-200 */
    --color-bg-selection: 226 232 240;

    /* primary-100 */
    --color-border-code: 244 244 245;

}

/* dark theme */
.theme-newspaper.dark {
    /* tailwind neutral 50-900? */
    --color-primary-50: 250 250 250;
    --color-primary-100: 245 245 245;
    --color-primary-200: 229 229 229;
    --color-primary-300: 212 212 212;
    --color-primary-400: 163 163 163;
    --color-primary-500: 115 115 115;
    --color-primary-600: 82 82 82;
    --color-primary-700: 64 64 64;
    --color-primary-800: 38 38 38;
    --color-primary-900: 23 23 23;
    /* white */
    --color-primary-main: 255 255 255;

    /* primary-200 */
    --color-text-body: 229 229 229;
    /* white */
    --color-text-heading: 255 255 255;
    /* white */
    --color-text-bold: 255 255 255;
    /* primary-300 */
    --color-text-muted: 212 212 212;
    /* #339af0 */
    --color-text-link: 51 154 240;
    /* black */
    --color-text-code: 255 255 255;
    /* black */
    --color-text-selection: 0 0 0;

    /* You can choose one of these two - they're both equally good */
    /* Tailwind neutral-800 */
    /* --color-bg-body: 23 23 23; */
    /* Tailwind neutral-900 */
    --color-bg-body: 38 38 38;
    /* Tailwind yellow-500 */
    --color-bg-code: 234 179 8;
    /* white */
    --color-bg-selection: 255 255 255;

    /* primary-700 */
    --color-border-code: 64 64 64;
}