---
---

<footer>
  <div>
    This blog is built with 
    <a class="animated" href={"https://github.com/flexdinesh/blogster"} target="_blank"> Blogster</a> 
    and hosted in
    <a class="animated" href={"https://www.netlify.com"}> Netlify</a>.
  </div>
</footer>

<style>
  footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    margin-top: 1rem;
    line-height: 1.75;
  }
</style>
