---
/*
  This layout is used in pages/blog/[slug].astro
*/

import BaseLayout from "./BaseLayout.astro";

export interface Props {
  title: string;
  date: Date;
}

const { title, date } = Astro.props;
const formattedDate = new Date(date).toLocaleDateString("en-us", {
  year: "numeric",
  month: "short",
  day: "numeric",
});
---

<BaseLayout>
  <!-- head slot is drilled from pages to BaseLayout -->
  <slot slot="head" name="head" />
  <article class="blog-post prose prose-sleek" slot="main">
    <h1 class="m-0 mb-[0.25em]">{title}</h1>
    <time class="block mb-[2em] text-text-muted">{formattedDate}</time>
    <slot name="content" />
  </article>
</BaseLayout>
